<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618407687920-fdqqfq88se3dheb3i9d85oogq0t680hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618407687920-fdqqfq88se3dheb3i9d85oogq0t680hm</string>
	<key>API_KEY</key>
	<string>AIzaSyDBz6UQuG2Bd0PzQgxGZduRyyokO1ZSYpo</string>
	<key>GCM_SENDER_ID</key>
	<string>618407687920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Contact.Book.Deluxe.Turbo.Edition</string>
	<key>PROJECT_ID</key>
	<string>react-native-contacts-5bc5b</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-contacts-5bc5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618407687920:ios:19cf31cf5058ded32e7435</string>
</dict>
</plist>